.heading {
    /* margin: 10px 20px; */
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;    
}
.heading-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--black-color);
    margin-right: 20px;
}
.heading-name_acc {
    font-size:1.4rem;
    font-weight:500;
   
}
.menu-manager {
    font-size: 2rem;
    margin-top: 20px;
    color: var(--black-color);  
    cursor: pointer;
}
.my-profile,
.my-order,
.my-password {
    display: flex;
    padding: 10px 0;
}
.my-profile-icon,
.my-order-icon,
.my-password-icon {
    margin-right:  10px;
}
.detail__confirm-password,
.detial__my-profile {
    margin-left: 50px;
}
.active {
    border-bottom: 1px solid var(--black-color);
    color:var(--hover-color);
    padding-bottom: 5px;
}
.form-group-confirm-password,
.form-group-new-password,
.form-group-old-password {
    position: relative;
}
.show-hide-two,
.show-hide-three,
.show-hide {
    top: 10%;
}
.my-profile-title,
.my-order-title,
.my-password-title {
    display: inline-flex;
}
/* input[type="file"]{
    display: none;
}
.abc {
    position: relative;
} */
/* .file-avatar {
    color: var(--white-color);
    height: 30px;
    width: 150px;
    background-color: #333;
    position: absolute;
    margin:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} */